.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title #{title} Question
    .modal-body
      = form_for question, html: {remote:true, class: 'form-horizontal'} do |f|
        .form-group
          %label.col-lg-2.col-sm-2.control-label Question
          .col-lg-10
            = f.text_field :qText, class: "form-control", placeholder: 'Question'
        .form-group
          %label.col-lg-2.col-sm-2.control-label{:for => "inputPassword1"} Type
          .col-lg-10
            = f.select :qType, options_for_select(Question::QTypeDropdown, selected: question.qType), {include_blank: true}, class: 'form-control m-bot15'
        .form-group
          %label.col-lg-2.col-sm-2.control-label Options
          .col-lg-10
            = f.text_field :qAnsText, class: "form-control qAns", placeholder: 'Options', 'data-role' => "tagsinput"
            #qAnsError
        .form-group
          .col-lg-offset-2.col-lg-10
            %button.btn.btn-default{:type => "submit"} Save