- for question in questions
  %tr{id: "question#{question.id}"}
    %td= question.qText
    %td= question.qType
    %td= question.get_qAns.join(", ")
    %td
      = link_to 'Edit', edit_question_path(id: question.id), remote: true