<%- if @question.errors.blank? %>
	$('#QuestionModal').modal('hide');
	$("#question<%= @question.id %>").html("<td><%= escape_javascript(@question.qText) %></td><td><%= escape_javascript(@question.qType) %></td><td><%= escape_javascript(raw(@question.qAns)) %></td><td><%= escape_javascript(link_to 'Edit', edit_question_path(@question), remote: true) %></td> <td class=''><a class='delete' href='javascript:void(0);'>Delete</a></td></tr>");
<%- else %>
  <% for field in @question.errors.keys() %>
  	<%- if field == :qAns %>
  		$("#qAnsError").html('<%= escape_javascript("<span class='form_error'>#{@question.errors[field].first}</span>").html_safe %>');
  	<%- else %>
    	$("#question_<%= field %>").after('<%= escape_javascript("<span class='form_error'>#{@question.errors[field].first}</span>").html_safe %>');
    <%- end %>
  <% end %>
<%- end %>