<%- if @question.errors.blank? %>
	$('#editQuestionModal').modal('hide');
	$("#question<%= @question.id %>").html("<td><%= escape_javascript(@question.qText) %></td><td><%= escape_javascript(@question.qType) %></td><td><%= escape_javascript(@question.qAns) %></td><td><%= escape_javascript(link_to 'Edit', edit_question_path(@question), remote: true) %></td> <td class=''><a class='delete' href='javascript:void(0);'>Delete</a></td></tr>");
<%- else %>
  <% for field in @question.errors.keys() %>
    $('#editQuestionModal').find("#question_<%= field %>").after('<%= escape_javascript("<span class='form_error'>#{@question.errors[field].first}</span>").html_safe %>');
  <% end %>
<%- end %>